@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
{
    <p>Bản quyền thuộc về</p>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<<<<<<< HEAD
    <p>Learn about Huy ne rrr<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
=======
    <p>Learn about Huy neeeee<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> 546ed1c5f823f63bb7af1b1024bf82c1ed95c80b
</div>
<a class="btn btn-outline-success" asp-controller="Home" asp-action="run">Xuat file Excel</a>
<a class="btn btn-outline-success" asp-controller="Home" asp-action="Privacy">Xuat file PDF</a>
