@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
{
    <p>Bản quyền thuộc về</p>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about99992<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a class="btn btn-outline-success" asp-controller="Home" asp-action="run">Xuat file Excel</a>
<a class="btn btn-outline-success" asp-controller="Home" asp-action="Privacy">Xuat file PDF</a>
 <a class="btn btn-outline-success" asp-controller="Home" asp-action="run">Xuat file Excel</a>
<a class="btn btn-outline-success" asp-controller="Home" asp-action="Privacy">Xuat file PDF</a>
 